<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{512.0,512.0}</string>
        <key>name</key>
        <string>Untitled</string>
        <key>textureFileName</key>
        <string>table1.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>ball.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{16.0,16.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{16.0,16.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{387.0,57.0},{16.0,16.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>bumper.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{32.0,32.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{32.0,32.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{32.0,32.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{353.0,57.0},{32.0,32.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>flipper-left.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{61.0,53.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{61.0,53.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{61.0,53.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{387.0,2.0},{61.0,53.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>flipper-right.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{61.0,53.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{61.0,53.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{61.0,53.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{324.0,2.0},{61.0,53.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,157.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>plunger.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{27.0,39.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{27.0,39.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{27.0,39.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{324.0,57.0},{27.0,39.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>table-empty1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{192.0,135.0}</string>
            <key>spriteOffset</key>
            <string>{-1.0,-0.5}</string>
            <key>spriteSourceSize</key>
            <string>{320.0,568.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{63.0,217.0},{192.0,135.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,157.0},{192.0,135.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tablebottom.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{320.0,153.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-207.5}</string>
            <key>spriteSourceSize</key>
            <string>{320.0,568.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,415.0},{320.0,153.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{320.0,153.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>tabletop.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{320.0,120.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,224.0}</string>
            <key>spriteSourceSize</key>
            <string>{320.0,568.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{320.0,120.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,387.0},{320.0,120.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
